<%- include('partials/header') -%>
<section>
  <div class="mt-20 mb-20">
    <div class="container flex">
      <div class="w-1/2">
        <h1 class="text-blue-600 w-full ml-4 text-7xl mt-10 capitalize">
          welcome to <span class="lowercase">e-shop</span>
        </h1>
      </div>
      <div class="w-1/2">
        <img
          src="https://www.samsungmobilepress.com/file/2792F942A2A2123F030173931A3506693F1F0BF39CEB5BE58D55446CD8A4364370FB854B08F831A146DFC151E3EB85BD8FEC67F402DCF6AFAA1FE4058A429DED12142A032AAB1FCE138FD0078B104B95AAC1A7927213C22AA6D6D29ADDAF39519F70B87AF6816CAF2ECBFD1C19622FD5AD8804802C5FA1D782529E70C3ADE1D5"
          alt="error to load"
          class="ml-10 mt-10"
        />
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') -%>
